* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-basic: 'Noto Sans';
    --font-alt: 'IBM Plex Sans';
}

body {
    font-family: var(--font-basic);
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 40px;
}

.header-contaneiner {
    display: flex;
    height: 5.4vh;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    color: #4088CB;
    font-weight: 600;
    padding: 0px 32px;
    font-size: 18px;
}


.icon {
    height: 2rem;
    max-height: 50px;

}
.logo-icon{
    padding-left: 3rem;
}

.exit-icon {
    height: 40%;
}


.wrapper-greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 33vh;


}

.logo-full {
    height: 15vh;
}

.subtitles {
    font-family: var(--font-alt);
    font-weight: 300;
    text-align: center;
}

.form-wrapper {

    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px;

}

.form-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0 1.2rem 0;
    width: 100%;
    max-width: 800px;
    background-color: white;
    gap: 8px
}

#input-form {
    width: 79vw;
    max-width: 740px;
    
}
.line{
    height: 1px;
    background: linear-gradient(to right, #FF6489, #F9B24E);
    width: 100%;
    margin: 12px 0;

}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79vw;
    max-width: 500px;
    height: 50px;
    color: #fff;
    border: none;
    font-weight: 700;
    font-family: var(--font-basic);
    font-size: 1rem;
    background: linear-gradient(90deg, #FF6489 0%, #F9B24E 100%);
    border-radius: 27px;
    margin-top: 5vh;
}
.signup-btn{
    margin: 0 auto;
}
.btn-white{
    background: #fff;
    color:#FE7E02;
    border: 1px solid #FE7E02 ;
    margin-top: 2vh;
}
.inside-text-form{
    font-family: var(--font-basic);
    color: #000;
    font-weight: 400;
    
    font-size: 0.825rem;

}
.top-text{
    margin-top: 48px;
}
.inner-link{
    color:#4088CB ;
    font-weight: 500;
}
.checkbox-group{
    display: flex;
    gap: 8px;
}
.wrapper-feed{
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}
.new-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    align-items: center;
    
}
.new-post textarea{
    width: 100%;
    background-color: #EDEDED;
    border: none;
    padding: 0.8rem;
    font-family: var(--font-alt);
    font-weight: 400;
    font-size: 1rem;
    color: #000;
    border-radius: 12px;
    
}
.new-post textarea::placeholder{
    color: #6F6F6F;

}
.btn-new-post{
    margin: 2vh 0;
}
.posts-wrapper{
display: flex;
width: 100%;
flex-direction: column;
background-color: #FBFBFB;
border:1px solid #F2F2F2;
border-radius: 12px;
padding: 8px;
margin: 5px 0;


}
.sender{
color:#6F6F6F;
font-size: 0.7rem;
font-weight: 400;
font-family: var(--font-alt);
}
.content{
    padding: 1rem 0;
    font-family: var(--font-alt);
    font-weight: 400;
    color: #000;
    font-size: 1rem;
}
.reactions-wrapper{
    height: 1rem;
    display: flex;
}
.reactions{
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.reactions img{
    height: 1rem;
}
.number-reaction{
    margin: 0 8px;
    font-family: var(--font-alt);
    font-size: 0.625rem;
    font-weight: 700;
    color:#6F6F6F;

}
